
{% extends "base.html" %} 

{% block content %}

<table>
{% for paper in papers %}
    <form action="/suggestions" method=post  name=annotate>
        <tr>
            <td>
                <table>
                    <tr><td><a href=http://arxiv.org/abs/{{paper["id"]}}>{{paper["title"]}}</a></td></tr>
                    <tr><td>"{{paper["summary"]}}"</td> </tr>
                </table>
            </td>
            <input type=hidden id=paper_id value={{paper["id"]}} name=paper_id>
            <td><p> <input type=submit name=label id=label value=positive> </p></td>
            <td><p> <input type=submit name=label value=negative>  </p></td>
        </tr>
    </form>

{% endfor %}

</table>
{% block inner_content %}{% endblock %}

{% endblock %}
